[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "AQGriView"]
	path = AQGriView
	url = git://github.com/AlanQuatermain/AQGridView.git
